<style type="text/css">
    <!--

    ul {
      list-style-type: none;
      width: 566px;
      margin: 50px auto;
      display: block;
    }

    li {
      float: left;
      background: url(http://cnanney-files.s3.amazonaws.com/journal/apple-counter/filmstrip.png) 0 0 no-repeat;
      width: 53px;
      height: 103px;
    }

    li.seperator {
      background: url(http://cnanney-files.s3.amazonaws.com/journal/apple-counter/comma.png) 2px 75px no-repeat;
      width: 12px
    }

    -->
  </style>


<div class="container">
    <div class="row-fluid">
        <div class="span8">
            <div class="hero-page">

                <h1 class="hero-code color-teal">Hello There!</h1>
                
                <div class="hero-description hero-group muted">
                    Want monitor your business all the time?
                </div>

                <div class="hero-description hero-group muted">
                    Our solution is <h2 class="color-teal">REALTIME!</h2>
                </div>

                <div class="hero-description hero-group muted">
                    Are you fed up with the current overpriced softwares?
                </div>

                <div class="hero-description hero-group muted">
                    Our solution is <h2 class="color-teal">CHEAP!</h2>
                </div>

                <div class="hero-description hero-group muted">
                    Want to sell your products while on the road?
                </div>

                <div class="hero-description hero-group muted">
                    Our solution is <h2 class="color-teal">MOBILE!</h2>
                </div>

                <div class="hero-description hero-group muted">
                    No internet on your store?
                </div>

                <div class="hero-description hero-group muted">
                    Our solution works <h2 class="color-teal">OFFLINE!</h2>
                </div>

                <div class="hero-description hero-group muted">
                    Relax! We Got This! All you gotta do is...
                </div>

                <h1 class="hero-code color-red">Push that button -></h1>

            </div>
        </div>

        <div class="span4">
            <div>
                <ul>
                  <li id="d6"></li>
                  <li class="seperator"></li>
                  <li id="d5"></li>
                  <li id="d4"></li>
                  <li id="d3"></li>
                  <li class="seperator"></li>
                  <li id="d2"></li>
                  <li id="d1"></li>
                  <li id="d0"></li>
                </ul> 
                <h3>Current Users Count</h3>
            </div>

            <br><br><button class="btn btn-block btn-large btn-primary">Sign in with Facebook</button>
        </div>
    </div>
</div>

<script type="text/javascript">
  //<![CDATA[

  // Array to hold each digit's starting background-position Y value
  var initialPos = [0, -618, -1236, -1854, -2472, -3090, -3708, -4326, -4944, -5562];
  // Amination frames
  var animationFrames = 5;
  // Frame shift
  var frameShift = 103;

  // Starting number
  var theNumber = 24;
  // Increment
  var increment = 1;
  // Pace of counting in milliseconds
  var pace = 10000;

  // Initializing variables
  var digitsOld = [], digitsNew = [], subStart, subEnd, x, y;

  // Function that controls counting
  function doCount(){
    var x = theNumber.toString();
    theNumber += increment;
    var y = theNumber.toString();
    digitCheck(x, y);
  }

  // This checks the old count value vs. new value, to determine how many digits
  // have changed and need to be animated.
  function digitCheck(x, y){
    var digitsOld = splitToArray(x),
      digitsNew = splitToArray(y);
    for (var i = 0, c = digitsNew.length; i < c; i++){
      if (digitsNew[i] != digitsOld[i]){
        animateDigit(i, digitsOld[i], digitsNew[i]);
      }
    }
  }

  // Animation function
  function animateDigit(n, oldDigit, newDigit){
    // I want three different animations speeds based on the digit,
    // because the pace and increment is so high. If it was counting
    // slower, just one speed would do.
    // 1: Changes so fast is just like a blur
    // 2: You can see complete animation, barely
    // 3: Nice and slow
    var speed;
    switch (n){
      case 0:
        speed = pace / 8;
        break;
      case 1:
        speed = pace / 4;
        break;
      default:
        speed = pace / 2;
        break;
    }
    // Cap on slowest animation can go
    speed = (speed > 100) ? 100 : speed;
    // Get the initial Y value of background position to begin animation
    var pos = initialPos[oldDigit];
    // Each animation is 5 frames long, and 103px down the background image.
    // We delay each frame according to the speed we determined above.
    for (var k = 0; k < animationFrames; k++){
      pos = pos-frameShift;
      if (k == (animationFrames-1)){
        $("#d"+n).delay(speed).animate({'background-position': '0 '+pos+'px'}, 0, function(){
          // At end of animation, shift position to new digit.
          $("#d"+n).css({'background-position': '0 '+initialPos[newDigit]+'px'}, 0);
        });
      }
      else{
        $("#d"+n).delay(speed).animate({'background-position': '0 '+pos+'px'}, 0);
      }
    }
  }

  // Splits each value into an array of digits
  function splitToArray(input){
    var digits = new Array();
    for (var i = 0, c = input.length; i < c; i++){
      subStart = input.length-(i+1);
      subEnd = input.length-i;
      digits[i] = input.substring(subStart, subEnd);
    }
    return digits;
  }

  // Sets the correct digits on load
  function initialDigitCheck(initial){
    var digits = splitToArray(initial.toString());
    for (var i = 0, c = digits.length; i < c; i++){
      $("#d"+i).css({'background-position': '0 '+initialPos[digits[i]]+'px'});
    }
  }

  // Start it up
  initialDigitCheck(theNumber);
  setInterval(doCount, pace);

  //]]>
</script>

