<!-- section content -->
<div class="container">
    <div class="row-fluid">
        <div class="span8">
            <div class="hero-page">

                <h1 class="hero-code color-teal">Hello There!</h1>
                
                <div class="hero-description hero-group muted">
                    Want monitor your business all the time?
                </div>

                <div class="hero-description hero-group muted">
                    Our solution is <h2 class="color-teal">REALTIME!</h2>
                </div>

                <div class="hero-description hero-group muted">
                    Are you fed up with the current overpriced softwares?
                </div>

                <div class="hero-description hero-group muted">
                    Our solution is <h2 class="color-teal">CHEAP!</h2>
                </div>

                <div class="hero-description hero-group muted">
                    Want to sell your products while on the road?
                </div>

                <div class="hero-description hero-group muted">
                    Our solution is <h2 class="color-teal">MOBILE!</h2>
                </div>

                <div class="hero-description hero-group muted">
                    No internet on your store?
                </div>

                <div class="hero-description hero-group muted">
                    Our solution works <h2 class="color-teal">OFFLINE!</h2>
                </div>

                <div class="hero-description hero-group muted">
                    Relax! We Got This! All you gotta do is...
                </div>

                <h1 class="hero-code color-red">Push that button -></h1>

            </div>
        </div>

        <div class="span4">
            <!-- button goes here -->
        </div>
    </div>
</div>
